#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.pro.user
*.pro.user.*
*.pro.user.
*.pro.user*
.pro.user
.pro.user*
.pro.user.*
*.user.*
*.obj
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
deploy/
[Rr]elease*/
_ReSharper*/
*.Makefile
Makefile.Release
Makefile.Debug
Makefile
*.Release
*.Debug
Installation/Output/
*.autosave
*.rc
*.stash
*.orig
*.tmp
